
html, body{
    margin: 0;
    padding: 0;
}

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }*/

body{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

p, h3{
    color: #0E1317;
}
/* Header */
            header{
                    width: 100vw;
                    height: 150px;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("../Images/header-background.png");
                    background-position: 50% 15%;
                    background-repeat: no-repeat;
                    background-size: cover;

                    font-family: open-sans, sans-serif; 
                    font-weight: 700; 
                    font-style: normal;
                    color: #FFFFFF;

                    top: 0px;

                    display: flex;
                    justify-content: space-between;
                }

                #logo-container
                {
                    display: inline-flex;
                    align-items: center;
                    height: 25%;
                    position: relative;
                    top: 1%;
                }

                #logo-container img{
                    height: 30px;
                    margin: 5px;
                    padding: 0px;
                }

                #logo-container h5{
                    height: 25px;
                    margin-top: 30px;
                    padding: 0px;
                    font-size: 11px;
                }

                #tagline{
                    text-align: right;
                    font-size: .95em;
                    width: 65vw;
                    position: absolute;
                    top: 40px;
                    right: 30px;
                    line-height: 160%;

                    color: #FFFFFF;

                    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
                }
/* Body */

    .container{
        display: flex;
        flex-direction: column;
    }

    .section:nth-child(1){

        margin: 0;
        background: no-repeat center/100% url("Images/background-gradient-blue-mobile.png");
        display: flex;
        flex-direction: column;
    }


    .section:nth-child(1) div
    {
        padding: 30px;

    }

    .section:nth-child(1) h3
    {
        text-align: center;
        font-family: open-sans, sans-serif; 
        font-weight: 700; 
        font-style: normal;
        font-size: 16px;
    }

    .section:nth-child(1) p
    {
        text-align: center;
        font-family: open-sans, sans-serif; 
        font-weight: 400; 
        font-style: normal;
        font-size: .75em;
        line-height: 165%;

    }

    .section:nth-child(1) img
    {
        width: 100vw;
    }

    .section:nth-child(2){
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: open-sans, sans-serif; 

        background: linear-gradient(206.28deg, #8ABDE9 4.43%, rgba(138, 189, 233, 0.5) 95.29%);
        box-shadow: 0px 4px 15px rgba(138, 190, 233, 0.25);
    }

    #icon-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 30px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #icon-container div 
    {
        width: 150px;
        margin: auto;
    }
    .section img {
        width: 100vw;
        margin: 0;
    }

    .section:nth-child(2) img{
        width: 75px;
    }

    .section:nth-child(2) {
        padding: 30px;
    }

    .section:nth-child(2) h3{
        font-size: 16px;
    }

    .section:nth-child(2) p{
        font-size: .75em;
    }

    .section:nth-child(3){
        padding: 50px;
        text-align: center;
    }

    .section:nth-child(3) h3{
        text-align: center;
        font-family: open-sans, sans-serif; 
        font-weight: 700; 
        font-style: normal;
        font-size: 16px;
    }


    .section:nth-child(3) p{
        text-align: center;
        font-family: open-sans, sans-serif; 
        font-weight: 400; 
        font-style: normal;
        font-size: .75em;

        line-height: 165%;
    }

    #note{
        font-size: 6px;
        text-align: center;
    }

    #CTA{
        display: flex;
        justify-content: center;
    }

    #CTA input {
        width: 180px;
        padding: 10px;

        background: rgba(255, 255, 255, 0.9);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 5px 0px 0px 5px;

        text-align: left;
        font-family: open-sans, sans-serif; 
        font-weight: 400; 
        font-size: .75em;

        color: rgba(0, 0, 0, 0.4);

        
    }

    button {
        padding: 10px;
        background: #EF8345;
        border: none;
        border-radius: 0px 5px 5px 0px;

        color: #FFFFFF;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
    }

    footer{

        border-top: .5px solid rgba(0, 0, 0, 0.2);
        color: #0E1317;

        font-family: open-sans, sans-serif; 
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        padding: 10px;

        background-color: #222F3A;
        color: #FFFFFF;

    }





@media (min-width: 425px){

    header {
        height: 250px;
    }

    #logo-container h5{
        height: 25px;
        margin-top: 30px;
        padding: 0px;
        font-size: .5em;
    }

    #logo-container
    {
        margin-left: 20px;
    }

    #tagline{
        text-align: right;
        font-size: 1.15em;
        top: 80px;
        width: 55vw;
        right: 60px;

        color: #FFFFFF;
    }


    .section:nth-child(1) div
    {
        margin: auto;
        padding: 60px;
        padding-left: 80px;
        padding-right: 80px;

    }

    .section:nth-child(1) p
    {
        font-size: .8em;

    }

    .section:nth-child(1) h3
    {
        font-size: 1.25em;

    }

    #icon-container div  {
        padding: 10px;
    }

    .section:nth-child(3){
        padding: 60px;
    }
}

@media (min-width: 600px){
    .section:nth-child(1) 
    {
        flex-direction: row;
    }

    .section:nth-child(1) div {
        padding: 45px;
    }

    .section:nth-child(1) img {
        width: 50%;
        height: 50%;
        margin: auto;
    }

    #icon-container
    {
        flex-direction: row;
        padding: 20px;
    }
    
    .section:nth-child(3){
        padding: 70px;
    }
}


@media (min-width: 768px) {
    .section:nth-child(1){
        padding: 30px;
    }
}

@media (min-width: 1024px) {

    #tagline{
        font-size: 1.7em;
    }
    .section:nth-child(1){
        padding: 50px;
    }

    .section:nth-child(1) h3{
        font-size: 1.5em;
    }

    .section:nth-child(1) p {
        font-size: 1.2em;
    }

    .section:nth-child(2) h3 {
        font-size: 1.5em;
    }

    .section:nth-child(2) p {
        font-size: 1.05em;
    }

    .section:nth-child(3) h3 {
        font-size: 1.5em;
    }

    .section:nth-child(3) {
        margin-left: 100px;
        margin-right: 100px;
    }

    .section:nth-child(3) p {
        font-size: 1.05em;
    }

    #CTA input {
        width: 300px;
        padding: 15px;
        font-size: 1em;
    }

    #CTA button{
        padding: 15px;
        font-size: .85em;
    }

    #note {
        font-size: 12px;
    }

}

@media (min-width: 1440px){
    header {
        height: 400px;
    }

    #logo-container h5 {
        font-size: 1em;
    }
    
    #tagline {
        font-size: 2.3em;
    }

    .section:nth-child(1) h3 {
        font-size: 1.8em;
    }

    .section:nth-child(1) p {
        font-size: 1.4em;
    }

    #icon-container{
        padding: 0px;
    }

    #icon-container div
    {
        padding: 0px;
        justify-content: center;
        margin: 80px;
    }

    .section:nth-child(2) h3{
        font-size: 1.8em;
    }

    .section:nth-child(2) img{
        width: 150px;
    }

    .section:nth-child(2) p{
        font-size: 22px;
    }

    .section:nth-child(2) {
        font-size: 1.3em;
    }

    .section:nth-child(3) {
        padding: 0px;
        margin: 70px 150px 70px 150px;
    }

    .section:nth-child(3) p {
        font-size: 1.3em;
    }

    .section:nth-child(3) h3 {
        font-size: 1.8em;
    }

    #CTA input {
        width: 400px;
    }

    #note {
        font-size: 14px;
    }

    footer {
        font-size: 12px;
    }   
}


@media (min-width: 2560px){
    header {
        height: 600px;
    }

    #tagline {
        font-size: 4em;
        width: 50vw;
    }

    #logo-container {
        width: 500px;
    }


    #logo-container h5 {
        font-size: 2em;
    }


    .section:nth-child(1) h3{
        font-size: 3em;
    }

    .section:nth-child(1) p{
        font-size: 2.5em;
    }

    .section:nth-child(2) h3{
        font-size: 2.5em;
    }

    .section:nth-child(2) img{
        width: 250px;
    }

    .section:nth-child(2) p{
        font-size: 1.75em;
    }

    #icon-container{
        justify-content: space-evenly;
        padding: 50px;
    }

    #icon-container div {
        width: 300px;
    }

    .section:nth-child(3) h3{
        font-size: 3em;
    }

    .section:nth-child(3) p{
        font-size: 2.5em;
    }


/*Left off here*/   

    #CTA input {
        width: 900px;
        padding: 50px;
    }
}
