
html, body{
    margin: 0;
}

body{
    position: absolute;
}

/* Header */
            header{
                    width: 100vw;
                    height: 150px;
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("/Images/header-background.png");
                    background-position: 50% 15%;
                    background-repeat: no-repeat;
                    background-size: cover;

                    font-family: open-sans, sans-serif; 
                    font-weight: 700; 
                    font-style: normal;
                    color: #FFFFFF;

                    top: 0px;

                    display: flex;
                    justify-content: space-between;
                }

                #logo-container
                {
                    display: inline-flex;
                    align-items: center;
                    height: 25%;
                    position: relative;
                    top: 1%;
                }

                #logo-container img{
                    height: 30px;
                    margin: 5px;
                    padding: 0px;
                }

                #logo-container h5{
                    height: 25px;
                    margin-top: 30px;
                    padding: 0px;
                }

                #tagline{
                    text-align: right;
                    font-size: .8em;
                    width: 75vw;
                    position: absolute;
                    top: 40px;
                    right: 30px;
                }
/* Body */


